@media screen and (max-width: 870px) {
  .timer{
    font-size: 35px;
  };
}


@media screen and (max-width: 768px) {
  .timer {
    height: 40px;
    font-size: 15px;
  }
  .conteiner_2-th{
    margin-top: 50%;
  }
  .input_d {
    width: 70%;
    bottom: 8px;
  }
  .in_t {
    font-size: 2.5vw;
    height: 4vh;
  }
  .main_h {
    margin-top: 2%;
  }
  
  .main_img{
    height: 40vw;
  }
  .main_h_p{
    font-size:10vw;
  }
  .in{
    width: 20vw;
    font-size: 2vw;
  }
  .marker{
    display: none;
  }
  .weather{
    right: 3%;
    justify-content: center;
    
  }
  .graduce{
    font-size: 5vw;
  }
  .date{
    font-size: 3vw;
  }
  .img_weather_cont{
    justify-content: center;
  }
  .name_weather{
    margin-top: 1px;
    margin-bottom: 5px;
    font-size: 3vw;
  }
  .input_d{
    width: 60%;
  }
  .tasklist li{
    font-size: 20px;
  }
  .tasklist li .button1{
    background-image:url("../img/icons8-checkmark.png");
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
  }
  .tasklist li .button2{
    background-image:url("../img/icons8-clear.png");
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
  }
  .name_p{
    font-size: 5vw;
  }
}



